<% if notice.present? %>
  <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block m-4" id="notice">
    <%= notice %>
  </p>
<% end %>
<div class="min-w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4 p-4">
  <% if @plugins.length == 0 %>
    <p> No plugins created </p>
  <% end %>
  <% @plugins.each do |plugin| %>
    <%= render "plugins/plugin_item", plugin: plugin%>
  <% end %>
</div>
