<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 text-green-500 font-medium rounded-lg inline-block w-full" id="notice"><%= notice %></p>
  <% end %>
  <!-- headline -->
  <div class="flex w-full">
    <div class="m-4 flex-1">
      <p class="font-bold text-2xl text-black">
        <%= @plugin.name %>
      </p>
      <p class="text-lighterBlack"> <%= @plugin.description %> </p>
    </div>
  </div>
  <!-- releases -->
  <% @plugin_releases.each do |release| %>
    <%= render "plugin_releases/release_item", release: release %>
  <% end %>
</div>
